<!DOCTYPE html>
<html>
<head>
	<title>Register Page</title>
   <!--Made with love by Mutiullah Samim -->
   
	<!--Bootsrap 4 CDN-->
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    
    <!--Fontawesome CDN-->
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">


</head>
<body>
<div class="container">
	<div class="d-flex justify-content-center h-100">
		<div class="card mt-5">
			<div class="card-header">
				<h3>Sign Up</h3>
				<div class="d-flex justify-content-end social_icon">
					
				</div>
			</div>
			<div class="card-body">
				<form class="pt-3" #register="ngForm" (ngSubmit)="registerCandidate()">
					<div class="input-group form-group">
						<input type="radio" id = "recruiter" (click)="selectedUserType('ROLE_REC')" name="user" class="form-control form-control-lg border-left-0" [checked]="true">
						<label class="radia_button" for="recruiter">Recruiter</label>	
						<input type="radio" id = "candidate" (click)="selectedUserType('ROLE_CUS')" name="user" class="form-control form-control-lg border-left-0">
						<label class="radia_button" for="candidate">Candidtae</label>							
					</div>
					<div class="input-group form-group">
						<div class="input-group-prepend">
							<span class="input-group-text"><i class="fas fa-user"></i></span>
						</div>
						<input type="text" id = "firstName" name="firstName" class="form-control form-control-lg border-left-0"
						[(ngModel)]="user.firstName" [ngClass] = "{'error-txt-color':firstName?.touched && firstName?.invalid}" placeholder="First Name" pattern="^[-a-zA-Z0-9-()]+(\s+[-a-zA-Z0-9-()]+)*$" ngModel
						required #firstName="ngModel">
						
					</div>
                    <div class="input-group form-group">
						<div class="input-group-prepend">
							<span class="input-group-text"><i class="fas fa-user"></i></span>
						</div>
						<input type="text" id = "lastName" name="lastName" class="form-control form-control-lg border-left-0"
						[(ngModel)]="user.lastName" [ngClass] = "{'error-txt-color':lastName?.touched && lastName?.invalid}" placeholder="Last Name"  ngModel
						required #lastName="ngModel">						
					</div>
                    <div class="input-group form-group">
						<div class="input-group-prepend">
							<span class="input-group-text"><i class="fas fa-user"></i></span>
						</div>
						<input type="text" id = "fullName" name="fullName" class="form-control form-control-lg border-left-0"
						[(ngModel)]="user.userName" [ngClass] = "{'error-txt-color':userName?.touched && userName?.invalid}" placeholder="userName" pattern="^[-a-zA-Z0-9-()]+(\s+[-a-zA-Z0-9-()]+)*$" ngModel
						required #userName="ngModel">				
					</div>
                    <div class="input-group form-group">
						<div class="input-group-prepend">
							<span class="input-group-text"><i class="fas fa-user"></i></span>
						</div>
						<input type="email"  id = "emailId" name="emailId" class="form-control form-control-lg border-left-0"
						[(ngModel)]="user.emailId" placeholder="Email" [ngClass] = "{'error-txt-color':emailAddress?.touched && emailAddress?.invalid}"
						pattern="^[a-zA-Z0-9._-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,4}$" ngModel required #emailAddress="ngModel">						
					</div>
					<div class="input-group form-group">
						<div class="input-group-prepend">
							<span class="input-group-text"><i class="fas fa-key"></i></span>
						</div>
						<input type ="password" autocomplete="new-password" id= "passwordUser" name="passwordUser"  [ngClass] = "{'error-txt-color':passwordUser?.touched && passwordUser?.invalid}"
						class="form-control form-control-lg border-left-0"
						  [(ngModel)]="user.password" placeholder="Password" minlength="8" maxlength="16" ngModel required
						  #passwordUser="ngModel">
					</div>
					
					<div class="form-group">
						<input type="submit" value="Register" [disabled]="!register.valid" class="btn float-right login_btn">
					</div>
				</form>
			</div>
			<div class="card-footer">
				<div class="d-flex justify-content-center links">
					Already Have an Account<a routerLink="/login">Sign in</a>
				</div>
				
			</div>
		</div>
	</div>
</div>
</body>
</html>