.job-detail{
    width: 80%;
    height: auto;
    margin-top: 2rem;
    margin-bottom: 2rem;
    border-radius: 4px;
    box-shadow: 0 4px 8px rgba(0,0,0,.18);
    padding: 45px;
    border: none;
}
.heading{
    padding-top: 30px;
    width: 80%;
    padding-bottom: 0px;
    margin-bottom: 0px;
}
.job-list{
    width: 100%;
    height: auto;
    border: none;
    padding-bottom: 30px;
    margin-bottom: 30px;
}
.job-list i{
    margin-right: 10px;
}
.middle-section p{
    margin: 0px 0px 10px 0px;
}
button{
    border: none;
    margin-left: 10px;
    padding: 0px 10px;
}
.middle-section button{
    border: none;
    margin-left: 10px;
    padding: 12px 20px;
    font-size: 16px;
}
#apply{
    width: auto;
    height: 40px;
    border: none;
    border-radius: 4px;
    padding: 0px 20px;
    color: white;
    margin: 20px;
    font-size: 16px;
    font-weight: 400;
    background-color:  #39f;
}
.modal-body input{
    width: 100%;
    height: 35px;
    border-radius:4px ;
    border: 1px solid rgb(197, 195, 195);
    padding: 10px;
}
.modal-body p{
    margin: 10px 0px 5px 0px;
}
.modal-body{
    padding: 40px;
   
}
.modal-body input:focus{
    outline: none;
}